/* ВКЛАДКИ */
.nav-tabs-custom {
    border-bottom: 1px solid var(--border);
    margin-bottom: 24px;
}

.nav-tabs-custom .nav-link {
    color: var(--text-secondary);
    border: none;
    padding: 12px 24px;
    font-weight: 500;
    border-radius: 0;
}

.nav-tabs-custom .nav-link:hover {
    color: var(--accent);
    border-bottom: 2px solid var(--border);
}

.nav-tabs-custom .nav-link.active {
    color: var(--accent);
    background: transparent;
    border-bottom: 2px solid var(--accent);
}
